<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.objectfanatics.commons.android">
    <application>
        <activity android:name=".view.GetAttrInstrumentedTestActivity" />
        <activity android:name=".widget.textView.linkClickListenable.LinkClickListenableInstrumentedTestActivity1" />
    </application>
</manifest>